<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/bodybook.css}" rel="stylesheet">
    <title>BodyBook :: Header</title>
</head>
<body>

<div class="container-fluid">

    <div class="navbar-top m-2" th:fragment="navigation">

        <nav></nav>
        <nav class="navbar navbar-expand-md rounded justify-content-center">
            <a class="navbar-brand logo-shading-orange" href="/" style="color: black">bodybook</a>
            <h1>
                [<img th:src="@{/images/LOGO-NAV-BRAND.png}" alt="Body" class="logo-shading-orange">]
            </h1>
            <a class="navbar-brand logo-shading-orange" href="/" style="color: black; padding-left: 15px">bodybook</a>
        </nav>
    </div>
</div>
</body>
</html>